<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1>Olá Spring Boot</h1>
   <a href="/cadastropessoa">Cad. Pessoa</a>
      <script type="text/javascript" src="materialize/js/materialize.jss"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.jss"></script>
</body>
</html>